$btnColor: black;
$btnBgColor: #f5c518;

.btnContOut {
	height: 100%;
	float: right;
	margin-right: 2em;

	button,
	.btn {
		width: 8em;
		height: 3em;
		font-size: 1em;
		font-weight: bolder;
		letter-spacing: 2px;
		color: $btnColor;
		background-color: $btnBgColor;
		border: 2px solid #212020;
		border-radius: 5px;
		cursor: pointer;
	}
}
